body {
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
.jumbotron {
  padding: 50px;
  background-color: rgba(132, 0, 255, 0.13);
}
.subtitle1,
.subtitle2 {
  text-shadow: 0px 25px 3px #ede4e9;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "baloo tamma";
  position: relative    ;
}
.title-name p {
  color: #fff;
  font-weight: bold;
  letter-spacing: 7px;
}
.subtitle1,
.subtitle2 {
  letter-spacing: 0px;
  text-transform: none;
  opacity: 0.8;
  font-weight: 100;
}
.subtitle1 {
  animation: subtitle1;
}
.subtitle2 {
  animation: subtitle2;
}

.subtitle1,
.subtitle2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 15s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.subtitle1::after,
.subtitle2::after {
  content: " | ";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 0.8s;
  animation-timing-function: steps(20, end);
}

@keyframes subtitle2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 12em;
  }
}

@keyframes subtitle1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 11em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
}
p{
  font-family: 'Times New Roman', Times, serif;
}
.nav-item {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
<<<<<<< HEAD

.nav-item {
  --primary-color: #111;
  --hovered-color: #ff0000;
  position: relative;
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  align-items: center;
}
.nav-item::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;

}
.nav-item:hover::after {
  width: 100%;
}
